* {
  box-sizing: border-box;
}

html,
body,
.file-picker,
.file-modal {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* File picker (Main screen) */
.file-picker {
  width: 50%;
  height: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.file-picker span {
  pointer-events: none;
}

/* Files modal (when some files have been selected) */
.file-modal {
  display: grid;
  grid-template-rows: 1fr 40px 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "files files"
    "dropdown dropdown"
    "addmore convert";
  justify-content: center;
  align-items: center;
}

.selected-files {
  grid-area: files;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.add-more-files-btn {
  grid-area: addmore;
}

.convert-files-btn {
  grid-area: convert;
}

/* Hide element */
.hidden {
  display: none;
}

.dest-format {
  grid-area: dropdown;
}
